<div class="wrap">
	<div id="controlDiv">
	</div>
	<div id="infoDiv">
	Occupied (total): 0
	</div>
	<div id="keyDiv">
		<div class="keyEntry1"><div class="filled"></div><div class="keyText">Filled seats</div></div>
		<div class="keyEntry2"><div class="empty"></div><div class="keyText">Empty seats</div></div>
	</div>
</div>
  <canvas id="seatCanvas" height=200 width=200>
    Your browser doesn't support HTML 5 canvas, so this web page won't work.
  </canvas>


