<div class="wrap">
	<div id="controlDiv">
	</div>
	<span id="infoDiv">
	Occupied (total): 0
	</span>
	<span id="keyDiv">
		<span class="keyEntry1"><span class="filled">&nbsp;&nbsp;&nbsp;</span><span class="keyText">Filled</span></span>
		<span class="keyEntry2"><span class="empty">&nbsp;&nbsp;&nbsp;</span><span class="keyText">Empty</span></span>
	</span>
</div>
<div id="canvDiv">
  <canvas id="seatCanvas" height=200 width=200>
    Your browser doesn't support HTML 5 canvas, so this web page won't work.
  </canvas>
</div>



