// Place all the styles related to the seats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.filled, .empty {
    background:#0066cc;
    height: 15px;
}

.empty {
    background:#000000;
}


#canvDiv{
	clear:both;
	margin:10px;
}
